@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}
.bgc{
    background-color: rgb(49, 46, 46);
}
.icon1{
    height: 24px;
    width: 36px;
}
.img1{
    height: 50px;
    width: 300px;
}
.wid{
    width: 400px;
}
.child{
    width: 20px;
    height: 20px;
    font-size: 0.8rem;
    position: absolute;
    top: -5px;
    left: 12px;
}
.parent{
    position: relative;
}
header ul{
    list-style-type: none;
}
.mrg{
    margin-left: 5rem;
    height: 36px;
    font-size: 0.9rem;
    background-color: rgb(9, 119, 245);
}
.btn2{
    height: 36px;
}